@media(max-width:400px) {
h1{
    color: rgb(89, 255, 0);
}
}
@media(min-width:401px) and (max-width:1000px){
    h1{
        color: blue;
    }
}
@media(min-width:1001px){
    h1{
        color:rgb(246, 8, 8);
    }
}